#wrap {
    width: 1200px;
   
    margin: auto;
    
}



.main-menu {
    height: 50px;
    background-color:rgb(202, 140, 59);
}



.login-menu {
    height: 300px;
    
}

.login-menu > .reserve {
    background-color:rgb(130, 65, 39);
}

.login-menu > .contact {
    background-color: rgb(130, 65, 39);
}

.login {
    background-color: rgb(187, 108, 51);
}